<a href="https://colab.research.google.com/github/alaseem/assignment-02/blob/main/assigment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
#1.0. Main Theme or Topic for the three datasets: Coffee

#1.1. Dataset 1 Title: Green coffee beans production, 1961 to 2023
#1.2. Dateset 1 URL: https://ourworldindata.org/grapher/coffee-bean-production?tab=table

#2.1. Dataset 2 Title: ICO Coffee Dataset (Worldwide)
#2.2. Dateset 2 URL: https://www.kaggle.com/datasets/yamaerenay/ico-coffee-dataset-worldwide

#3.1. Dataset 3 Title: Coffee Shop Sales
#3.2. Dateset 3 URL: https://mavenanalytics.io/data-playground/coffee-shop-sales

In [40]:
#importing pandas. Now we can use it directly by calling "pd"
import pandas as pd

In [41]:
# Dataset 1
csv_url = 'https://ourworldindata.org/grapher/coffee-bean-production.csv'
df = pd.read_csv(csv_url)

In [42]:
# run Dataset 1
df

,Entity,Code,Year,"Coffee, green | 00000656 || Production | 005510 || tonnes"
0,Africa,NaN,1961,870970.00
1,Africa,NaN,1962,883512.00
2,Africa,NaN,1963,996674.00
3,Africa,NaN,1964,1162048.00
4,Africa,NaN,1965,1075084.00
...,...,...,...,...
7292,Zimbabwe,ZWE,2019,531.00
7293,Zimbabwe,ZWE,2020,579.00
7294,Zimbabwe,ZWE,2021,608.00
7295,Zimbabwe,ZWE,2022,681.00
7296,Zimbabwe,ZWE,2023,698.88

In [43]:
# describe Dataset 1
df.describe()

              Year  Coffee, green | 00000656 || Production | 005510 || tonnes
count  7297.000000                                       7.297000e+03
mean   1991.395368                                       3.763072e+05
std      18.149539                                       9.844460e+05
min    1961.000000                                       0.000000e+00
25%    1976.000000                                       1.000000e+03
50%    1991.000000                                       2.121300e+04
75%    2007.000000                                       1.864210e+05
max    2023.000000                                       1.123373e+07

In [44]:
# head Dataset 1
df.head()

,Entity,Code,Year,"Coffee, green | 00000656 || Production | 005510 || tonnes"
0,Africa,NaN,1961,870970.0
1,Africa,NaN,1962,883512.0
2,Africa,NaN,1963,996674.0
3,Africa,NaN,1964,1162048.0
4,Africa,NaN,1965,1075084.0

In [45]:
# colums Dataset 1
df.columns

Index(['Entity', 'Code', 'Year',
       'Coffee, green | 00000656 || Production | 005510 || tonnes'],
      dtype='object')

In [46]:
# Dataset 2
csv_url_2= 'https://raw.githubusercontent.com/alaseem/assignment-02/a742fa99ad364ecf5ff68f53c21e6d578ee208f5/disappearance.csv'
df_2 = pd.read_csv(csv_url_2)

In [47]:
# run Dataset 2
df_2

,disappearance,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Austria,1340.123985,1302.085970,1212.333964,1335.000982,1086.218996,1011.769996,1075.788000,1087.079597,1104.738197,...,885.715848,902.854329,1117.345643,1269.019458,1249.0,NaN,NaN,NaN,NaN,NaN
1,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,934.292881,870.665179,934.468749,914.636559,1245.0,NaN,NaN,NaN,NaN,NaN
2,Belgium/Luxembourg,1124.109984,708.156980,696.372979,789.436984,958.214990,1073.014984,1038.637071,886.263764,1309.406477,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bulgaria,101.782998,16.761001,174.878012,326.955006,352.764006,393.408007,246.474995,274.918003,324.160004,...,409.275903,395.357991,359.519751,375.941251,419.0,NaN,NaN,NaN,NaN,NaN
4,Croatia,NaN,NaN,134.545004,131.890000,163.862001,288.481005,304.468998,361.396003,319.730000,...,365.637529,369.838593,367.153143,360.364120,387.0,NaN,NaN,NaN,NaN,NaN
5,Cyprus,30.570999,44.697000,39.303999,77.516000,45.369001,42.678000,51.740999,46.495999,46.205999,...,75.437867,73.905648,80.793525,85.398320,89.0,NaN,NaN,NaN,NaN,NaN
6,Czech Republic,659.433000,525.274000,472.156004,448.395004,508.724000,511.453998,474.992003,484.579999,523.407997,...,525.168046,469.731678,572.458470,685.226286,637.0,NaN,NaN,NaN,NaN,NaN
7,Denmark,865.138999,908.542001,958.834999,890.555997,908.483001,757.796998,895.013997,808.457194,853.660094,...,676.252995,806.488750,762.258628,799.824326,822.0,NaN,NaN,NaN,NaN,NaN
8,Estonia,NaN,NaN,12.909000,44.188998,63.163995,82.848004,84.214010,98.861998,89.530996,...,123.493948,104.782704,66.614409,103.980513,120.0,NaN,NaN,NaN,NaN,NaN
9,Finland,1070.434998,965.553999,1030.327999,1128.863992,1049.507994,734.677996,900.641895,939.425296,1001.365097,...,1058.406243,1080.424215,1092.977075,1082.025985,1095.0,NaN,NaN,NaN,NaN,NaN
10,France,5205.172363,5556.988033,5614.452697,5506.780037,5110.872038,5312.681708,5512.406007,5486.910846,5350.690608,...,5676.749771,5712.898509,5961.952791,5790.294638,5707.0,NaN,NaN,NaN,NaN,NaN
11,Germany,7279.256961,12377.215949,9570.401951,11324.732941,8213.944942,11231.450951,10593.686345,9670.068157,9976.165560,...,8896.933062,9291.958859,9460.349561,8829.742963,9378.0,NaN,NaN,NaN,NaN,NaN
12,Greece,630.796004,386.942006,320.167003,147.720002,356.286002,383.374004,714.887606,738.871204,667.663505,...,973.875511,993.691856,1022.548775,1076.098610,1101.0,NaN,NaN,NaN,NaN,NaN
13,Hungary,573.974000,380.227997,348.358996,556.781996,723.930996,447.414998,570.962999,601.649002,652.366990,...,445.285841,375.714471,180.065870,252.242375,177.0,NaN,NaN,NaN,NaN,NaN
14,Ireland,119.885001,112.966001,90.729000,107.310001,127.123001,106.530001,86.773002,96.958601,91.735901,...,134.496255,159.982095,178.633597,214.096242,196.0,NaN,NaN,NaN,NaN,NaN
15,Italy,4832.293986,4254.039984,4132.135981,4888.262978,4773.629974,4644.358975,4775.914473,4912.919079,4935.936371,...,5806.024594,5781.318961,5689.331772,5709.763166,5634.0,NaN,NaN,NaN,NaN,NaN
16,Latvia,NaN,NaN,19.258999,41.447997,5.646998,14.191625,49.767166,119.967441,134.113242,...,88.113153,98.595059,101.030448,101.186596,95.0,NaN,NaN,NaN,NaN,NaN
17,Lithuania,NaN,NaN,1.554000,8.800001,37.149991,67.613455,66.181325,108.337192,135.057119,...,209.777159,222.626126,179.782902,193.218724,197.0,NaN,NaN,NaN,NaN,NaN
18,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,221.906974,232.284391,214.566787,212.232088,241.0,NaN,NaN,NaN,NaN,NaN
19,Malta,19.612998,12.945002,15.815001,21.772001,11.590998,21.201640,9.075070,8.847360,6.585761,...,14.123640,12.027799,15.557007,20.997838,22.0,NaN,NaN,NaN,NaN,NaN
20,Netherlands,2382.753011,2487.661011,3260.867014,2719.452004,2122.206012,2293.421015,2509.358211,2366.727820,1960.917520,...,897.811609,1347.082287,909.250259,1382.460759,1625.0,NaN,NaN,NaN,NaN,NaN
21,Poland,334.592001,243.024002,1650.229026,1544.714877,1742.163407,1636.660097,1755.456208,1966.017606,1964.537617,...,2001.007687,2155.712018,2034.287928,1936.126692,1669.0,NaN,NaN,NaN,NaN,NaN
22,Portugal,467.019000,448.389000,572.914001,529.177002,672.811002,632.178999,615.094599,602.880501,695.854401,...,731.085414,812.172228,858.924785,828.079646,840.0,NaN,NaN,NaN,NaN,NaN
23,Romania,441.534003,335.417012,600.683022,419.590015,347.046996,549.776006,696.168000,630.301005,584.465004,...,774.944821,795.874743,801.900201,849.223610,891.0,NaN,NaN,NaN,NaN,NaN
24,Slovakia,NaN,NaN,NaN,275.695993,233.555220,222.994240,244.469374,234.455789,241.493225,...,212.745245,337.066973,387.741313,201.076477,328.0,NaN,NaN,NaN,NaN,NaN
25,Slovenia,NaN,NaN,115.498999,147.587998,152.060003,139.529000,163.832232,160.726589,162.028966,...,198.275123,205.066084,207.719155,184.991224,184.0,NaN,NaN,NaN,NaN,NaN
26,Spain,2713.713000,2651.268001,3044.679002,2727.611000,2774.188001,2731.736003,2901.202203,2977.133299,2996.362501,...,3351.866483,3231.861505,3148.731131,3435.225278,3234.0,NaN,NaN,NaN,NaN,NaN
27,Sweden,1689.342000,1603.556994,1634.134995,1618.394002,1669.373000,1203.841991,1297.798791,1240.741089,1248.124691,...,1132.892674,1221.449083,1125.013125,1159.329876,1175.0,NaN,NaN,NaN,NaN,NaN
28,United Kingdom,2348.087010,2341.740004,2516.008008,2533.688011,2639.738012,2199.806018,2406.060515,2440.766518,2587.820315,...,3220.111866,3134.144304,2925.449461,2925.873324,2828.0,NaN,NaN,NaN,NaN,NaN
29,Japan,5059.848004,5808.974002,5132.431998,5739.836005,5973.032006,6116.008005,5837.947004,5968.169000,6051.945002,...,7130.403460,7192.398002,7014.853810,7130.946647,7435.0,7494.0,7695.0,7872.0,7742.0,7833.595667
30,Norway,726.664002,757.653000,736.464001,690.230001,799.610000,657.140000,713.294601,675.019402,702.473800,...,715.239498,745.699530,785.126654,723.366675,763.0,729.0,788.0,782.0,781.0,734.166739
31,Russian Federation,NaN,NaN,1377.157008,1794.731013,1712.206019,1650.292013,1063.122006,1857.460179,1647.071621,...,3112.871956,3700.279793,3754.190254,3696.164301,3648.0,4021.0,3846.0,4439.0,4512.0,4233.503774
32,Switzerland,907.479003,948.890001,994.891003,868.791005,944.377004,935.126003,922.093000,712.429997,810.527001,...,965.544629,1011.808333,1034.974306,1047.082494,1123.0,1028.0,1096.0,1066.0,894.0,1170.286972
33,Tunisia,100.999998,90.201001,110.583001,100.624001,137.267000,136.783001,143.650001,164.617001,147.417000,...,288.727161,301.474249,415.374266,421.136277,429.0,460.0,458.0,465.0,546.0,532.800391
34,USA,18297.618001,18661.180001,18290.452996,19217.136997,17326.103994,17362.870986,18059.000790,17795.448195,18603.798693,...,21435.967112,21783.457919,22043.891384,22231.663715,23417.0,23767.0,24438.0,25243.0,26183.0,26514.327404

In [48]:
# describe Dataset 2
df_2.describe()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
count,26.000000,26.000000,32.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,34.000000,...,34.000000,34.000000,34.000000,34.000000,34.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,2281.624435,2458.859614,2027.547802,2081.929419,1931.582442,1987.669992,2023.641621,2015.906083,2058.404766,2002.962215,...,2167.366528,2233.255714,2229.554027,2242.030502,2305.882353,6249.833333,6386.833333,6644.500000,6776.333333,6836.446824
std,3783.777509,4264.404247,3635.548769,3865.332528,3374.339474,3601.680755,3641.382044,3544.144719,3670.955808,3738.864510,...,4048.768126,4116.853588,4161.412146,4152.272249,4350.125186,8995.955656,9257.458278,9549.345292,9920.094247,10040.595107
min,19.612998,12.945002,1.554000,8.800001,5.646998,14.191625,9.075070,8.847360,6.585761,8.643439,...,14.123640,12.027799,15.557007,20.997838,22.000000,460.000000,458.000000,465.000000,546.000000,532.800391
25%,447.905252,346.619758,129.783503,147.587998,163.862001,222.994240,244.469374,234.455789,241.493225,201.308029,...,238.612020,310.372430,250.805028,223.632776,262.750000,803.750000,865.000000,853.000000,809.250000,843.196797
50%,886.309001,833.097500,716.418490,690.230001,799.610000,657.140000,714.887606,712.429997,702.473800,761.037852,...,753.015118,809.330489,830.412493,838.651628,865.500000,2524.500000,2471.000000,2752.500000,2703.000000,2701.895373
75%,2374.086511,2451.180759,1866.673771,1794.731013,1742.163407,1650.292013,1755.456208,1966.017606,1960.917520,1441.364296,...,1783.978934,1953.554586,1806.969227,1797.710208,1658.000000,6625.750000,6732.750000,7013.750000,6934.500000,6933.572694
max,18297.618001,18661.180001,18290.452996,19217.136997,17326.103994,17362.870986,18059.000790,17795.448195,18603.798693,19359.427693,...,21435.967112,21783.457919,22043.891384,22231.663715,23417.000000,23767.000000,24438.000000,25243.000000,26183.000000,26514.327404

In [49]:
# head Dataset 2
df_2.head()

,disappearance,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Austria,1340.123985,1302.085970,1212.333964,1335.000982,1086.218996,1011.769996,1075.788000,1087.079597,1104.738197,...,885.715848,902.854329,1117.345643,1269.019458,1249.0,NaN,NaN,NaN,NaN,NaN
1,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,934.292881,870.665179,934.468749,914.636559,1245.0,NaN,NaN,NaN,NaN,NaN
2,Belgium/Luxembourg,1124.109984,708.156980,696.372979,789.436984,958.214990,1073.014984,1038.637071,886.263764,1309.406477,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bulgaria,101.782998,16.761001,174.878012,326.955006,352.764006,393.408007,246.474995,274.918003,324.160004,...,409.275903,395.357991,359.519751,375.941251,419.0,NaN,NaN,NaN,NaN,NaN
4,Croatia,NaN,NaN,134.545004,131.890000,163.862001,288.481005,304.468998,361.396003,319.730000,...,365.637529,369.838593,367.153143,360.364120,387.0,NaN,NaN,NaN,NaN,NaN

In [50]:
# columns Dataset 2
df_2.columns

Index(['disappearance', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018'],
      dtype='object')

In [51]:
# Dataset 3
url_3 = 'https://github.com/alaseem/assignment-02/raw/a742fa99ad364ecf5ff68f53c21e6d578ee208f5/CoffeeShopSales.xlsx'
df_3 = pd.read_excel(url_3)

In [52]:
# run Dataset 3
df_3

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,2023-01-01,07:06:11,2,5,Lower Manhattan,32,3.00,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,2023-01-01,07:08:56,2,5,Lower Manhattan,57,3.10,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,2023-01-01,07:14:04,2,5,Lower Manhattan,59,4.50,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,2023-01-01,07:20:24,1,5,Lower Manhattan,22,2.00,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,2023-01-01,07:22:41,2,5,Lower Manhattan,57,3.10,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
...,...,...,...,...,...,...,...,...,...,...,...
149111,149452,2023-06-30,20:18:41,2,8,Hell's Kitchen,44,2.50,Tea,Brewed herbal tea,Peppermint Rg
149112,149453,2023-06-30,20:25:10,2,8,Hell's Kitchen,49,3.00,Tea,Brewed Black tea,English Breakfast Lg
149113,149454,2023-06-30,20:31:34,1,8,Hell's Kitchen,45,3.00,Tea,Brewed herbal tea,Peppermint Lg
149114,149455,2023-06-30,20:57:19,1,8,Hell's Kitchen,40,3.75,Coffee,Barista Espresso,Cappuccino
149115,149456,2023-06-30,20:57:19,2,8,Hell's Kitchen,64,0.80,Flavours,Regular syrup,Hazelnut syrup

In [53]:
# describe Dataset 3
df_3.describe()

,transaction_id,transaction_date,transaction_qty,store_id,product_id,unit_price
count,149116.000000,149116,149116.000000,149116.000000,149116.000000,149116.000000
mean,74737.371872,2023-04-15 11:50:32.173609984,1.438276,5.342063,47.918607,3.382219
min,1.000000,2023-01-01 00:00:00,1.000000,3.000000,1.000000,0.800000
25%,37335.750000,2023-03-06 00:00:00,1.000000,3.000000,33.000000,2.500000
50%,74727.500000,2023-04-24 00:00:00,1.000000,5.000000,47.000000,3.000000
75%,112094.250000,2023-05-30 00:00:00,2.000000,8.000000,60.000000,3.750000
max,149456.000000,2023-06-30 00:00:00,8.000000,8.000000,87.000000,45.000000
std,43153.600016,NaN,0.542509,2.074241,17.930020,2.658723

In [54]:
# head Dataset 3
df_3.head()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,2023-01-01,07:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,2023-01-01,07:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,2023-01-01,07:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,2023-01-01,07:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,2023-01-01,07:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg

In [55]:
# columns Dataset 3
df_3.columns

Index(['transaction_id', 'transaction_date', 'transaction_time',
       'transaction_qty', 'store_id', 'store_location', 'product_id',
       'unit_price', 'product_category', 'product_type', 'product_detail'],
      dtype='object')

In [56]:
#3. Data quality issue
#3.1. Dataset 1 : Green coffee beans production, 1961 to 2023
#3.2. Dimension: Completeness
#3.3. Sub Dimension: completenessof mandatory attributes
#3.4. Details: Some countries have missing production data, which affects trend analysis and yearly comparisons

In [57]:
#3. Data quality issue
#3.1. Dataset: ICO Coffee Dataset (Worldwide)
#3.2. Dimension: Validity
#3.3. Sub Dimension: Meta-data compliance
#3.4. Details: Some columns contain numeric data stored as text. it harder to perform accurate numerical analysis.

Finish